header,footer{
    background: rgb(255, 217, 148)
}
.footer-columns{
    display: flex;
}
.footer-column{
    flex: 50%;
    margin: 20px;
}
main{
    padding: 10px;
    background: silver;
}
.post{
    background-color: white;
    border-radius: 10px;
    display: flex;
    margin: 20px;
    padding: 20px;
}
.posts{
    display: flex;
}
#menu1{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 10;
}
#menu1 ul{
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
#menu1 ul li{
    position: relative;
    display: block;
    float: left;
}
#menu1 ul li a{
    display: block;
    padding: 9px 25px;
    font-size: 14px;
    text-transform: uppercase;
    color:rgb(255, 255, 255)
}
#menu1 ul li ul{
    position: absolute;
    top: 36px;
    display: none;
    width: 200px;
    background: red;
}
#menu1 ul li:hover ul{
    display: block;
}
#menu1 ul li ul li{
    float: none;
    width: 100%;
}
#menu1 ul li ul li a{
    padding: 7px 25px;
    color: white;
    border-top: 2px solid #fff;
}